.AddingBook {
  margin-top: 2rem;
  text-align: center;
}

#listBook {
  list-style: none;
}

.Book {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.bookLine {
  margin-top: -1rem;
}

input {
  width: 40%;
  height: 10%;
  margin: 0.5rem;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  display: flex;
  width: 70%;
  justify-content: flex-end;
}

.nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}

.nav-items {
  display: flex;
  list-style: none;
  gap: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.Books-list {
  display: none;
  margin-top: 2rem;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.contactForm {
  display: none;
  flex-direction: column;
  align-items: center;
}

.Date {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
}

.item {
  border-right: 1px solid grey;
  padding-right: 0.25rem;
}
