.AddingBook {
  margin-top: 2rem;
}

#listBook {
  list-style: none;
}

.Book {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.bookLine {
  margin-top: -1rem;
}

body {
  text-align: center;
}

input {
  margin: 0.5rem;
}
